{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
    <!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="utf-8">
            <title>Bokeh Scatter Plots</title>

            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bokeh/1.0.4/bokeh.min.css" type="text/css" />
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/1.0.4/bokeh.min.js"></script>
                {{ plotjs | safe }}
        </head>
        <body>
            {{ plot_div | safe }}
        </body>
    </html>
{% endblock %}
