ssh/* filter=git-crypt diff=git-crypt
.kube/* filter=git-crypt diff=git-crypt
secrets/secrets.yaml filter=git-crypt diff=git-crypt
*.pem filter=git-crypt diff=git-crypt
*config.json filter=git-crypt diff=git-crypt